<div class="flex-grow">
  <label class="block text-white text-sm mb-2" for={{name}}>{{label}}</label>
  <input
    class="text-white text-sm bg-gray-900 border border-gray-700 rounded-md p-2 px-3 mb-4 w-full"
    type="text"
    id="{{name}}"
    name="{{name}}"
    value="{{value}}"
  />
</div>