<div class="flex-grow">
  <label class="block text-white text-sm mb-2" for={{name}}>{{label}}:</label>
  <textarea
    class="rounded p-1 text-sm w-full m-0 mb-2 align-top h-80"
    id={{name}}
    name={{name}}
  >{{data}}</textarea>
</div>