<!-- Grid and Notes -->
<div class="flex px-6 gap-4">
  <!-- Grid -->
  <div class="w-2/3">
    <div class="grid grid-cols-3 gap-2">
      <!-- Loop It -->
      {{#each customProperties as |property|}}
        <div class="relative bg-gray-800 px-4 py-2 rounded-lg h-16">
          <h4 class="mt-0.5 text-gray-400 text-sm capitalize">{{property.key}}</h4>
          <div class="mt-1 text-white text-sm font-bold overflow-hidden text-ellipsis overflow-hidden">
            {{property.value}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <!-- Notes -->
  <div class="w-1/3">
    <div class="relative">
      <h4 class="absolute top-px left-px right-3 p-3 pb-2 rounded-lg bg-gray-900 text-white text-sm font-bold">Notes</h4>
      <form>
        <textarea
          class="rounded-lg border border-gray-600 h-56 w-full p-3 pt-10 bg-gray-900 text-sm text-white resize-none"
      ></textarea>
      <div class="absolute z-10 top-2 right-2 transition-opacity opacity-1">
        {{> FormSubmit label="Save" size="small" }}
      </div>
    </form>
    </div>
  </div>

</div>

<!-- Tabbed Tables -->
<div x-data="{ currentTab: 'obey' }">
  <div class="px-6">
    <div class="border-b border-gray-700">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <button
          @click="currentTab = 'alias'"
          :class="{ 'border-indigo-500 text-white': currentTab === 'alias', 'border-transparent text-gray-400': currentTab !== 'alias' }"
          class="whitespace-nowrap border-b-2 hover:border-gray-500 hover:text-white py-4 px-1 text-sm font-medium"
        >
          Aliases
        </button>
        <button
          @click="currentTab = 'control'"
          :class="{ 'border-indigo-500 text-white': currentTab === 'control', 'border-transparent text-gray-400': currentTab !== 'control' }"
          class="whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
        >
          Controls
        </button>
        <button
          @click="currentTab = 'obey'"
          :class="{ 'border-indigo-500 text-white': currentTab === 'obey', 'border-transparent text-gray-400': currentTab !== 'obey' }"
          class="whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
        >
          Obeys
        </button>
      </nav>
    </div>
  </div>

  <!-- Tab Contents -->
  <div x-show="currentTab === 'alias'" class="px-6 py-4" style="display: none;">
    {{{ aliasTableHtml }}}
  </div>
  <div x-show="currentTab === 'control'" class="px-6 py-4" style="display: none;">
    {{{ controlTableHtml }}}
  </div>
  <div x-show="currentTab === 'obey'" class="px-6 py-4" style="display: none;">
    {{{ obeyTableHtml }}}
  </div>
</div>
