<div class="p-8" style="max-width: 640px">
  {{> Headline title="Google Integration" }}

  <!-- List all data stored in the module namespace of the config database -->
  <div class="p-8 mb-6">
    <ul class="text-white border-t border-gray-700">
      <li class="group relative border-b border-gray-800 py-2 flex items-center">
        <span class="flex-grow text-white-200">ID</span>
        <span class="flex-grow text-white-200">Name</span>
        <span class="flex-grow text-white-200">Email</span>
        <span class="flex-grow text-white-200">Customer</span>
        <span class="flex-grow text-white-200">Last Synced</span>
        <span class="flex-grow text-white-200">Status</span>
        <span class="flex-grow text-white-200">Actions</span>
      </li> 
      {{#each this.instances }}
        <li class="group relative border-b border-gray-800 py-2 flex items-center">
          <span class="flex-grow text-gray-400">{{this.name}}</span>
          <span class="flex-grow text-gray-400">{{this.id}}</span>
          <span class="flex-grow text-gray-400">{{this.subjectEmail}}</span>
          <span class="flex-grow text-gray-400">{{this.customer}}</span>
          <span class="flex-grow text-gray-400">{{this.lastSynced}}</span>
          <span class="flex-grow text-gray-400">{{#if this.ready}}Ready{{else}}Processing{{/if}}</span>

          <!-- Form to run a sync for this instance -->
          {{#if this.ready }}
          <div
            class="absolute -right-16 opacity-0 group-hover:opacity-100 h-full w-8"
          >
            <form
              class="absolute left-1/2 top-1/2 transform -translate-y-1/2"
              hx-post="/mod/google/sync/"
              hx-target="closest #main"
              hx-swap="innerHTML"
              hx-vals='{"id": "{{this.id}}"}'
            >
              <button
                class="h-3.5 w-3.5 inline text-gray-600 hover:text-indigo-600"
                type="submit"
              >
              Merge
              </button>
            </form>
          </div>
          <!-- Form to delete data from config db -->
          <div
            class="absolute -right-8 opacity-0 group-hover:opacity-100 h-full w-8"
          >
            <form
              class="absolute left-1/2 top-1/2 transform -translate-y-1/2"
              hx-post="/mod/google/deleteInstance/"
              hx-target="closest #main"
              hx-swap="innerHTML"
              hx-vals='{"id": "{{this.id}}"}'
            >
              <button
                class="h-3.5 w-3.5 inline text-gray-600 hover:text-indigo-600"
                type="submit"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    fill="currentColor"
                    d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
                  />
                </svg>
              </button>
            </form>
          </div>
        </li>
        {{/if}} <!-- end if this.ready -->
      {{/each}}
    </ul>
  </div>

  <!-- Post data to the config database, redraw module on completion -->
  {{#> Card }}
    <form
      class="mb-0"
      hx-encoding="multipart/form-data"
      hx-post="/mod/google/addInstance/upload"
      hx-target="closest #main"
      hx-swap="innerHTML"
    >
      <div class="mb-4">{{> FormText label="Instance Name" name="name" }}</div>
      <div class="mb-4">{{> FormText label="Subject Email" name="subjectEmail" }}</div>
      <div class="mb-4">{{> FormText label="Customer ID" name="customerId" }}</div>
      <div class="mb-4">{{> FormFilePicker label="Auth File" name="file" }}</div>
      {{> FormSubmit label="Add" }}
    </form>
  {{/Card}}
</div>